<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsConection.Properties.Settings.EduardoEmployeesConnectionString"
            connectionString="Data Source=187.33.155.14,54321;Initial Catalog=EduardoEmployees;Persist Security Info=True;User ID=sa;Password=Sql#123456789;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>